<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <!--配置和映射 Servlet-->
    <servlet>
        <!--Servlet 注册的名字-->
        <servlet-name>helloServlet</servlet-name>
        <!--Servlet 的全类名-->
        <servlet-class>com.atguigu.javaweb.HelloServlet</servlet-class>
        <!-- 可以指定 Servlet 被创建的时机,若为负数, 则在第一次请求时被创建.若为 0 或正数, 则在当前WEB 应用被Serlvet 容器加载时创建实例, 且数组越小越早被创建. -->
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <!--需要和某一个 servlet 节点的 servlet-name 子节点的文本节点一致-->
        <servlet-name>helloServlet</servlet-name>
        <!--映射具体的访问路径： / 代表当前Web应用的根目录-->
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    
</web-app>